.OrderItem{
    border: 1px solid #eee;
    padding: 10px 5px;
    box-shadow: 2px 2px #ccc;
    margin: 15px 0;
}

.Customer{
    font-weight: bold;
    font-size: 18px;    
}

.CustomerAddress{
    font-size: small;
    color: #ccc;
}

.Ingredient{
    padding: 5px;
    border: 1px solid;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    text-transform: capitalize;
}

.IngredientContainer{
    margin-top: 10px;
}